@media only screen and (min-width: 900px) {
  body{
   background-color:#dddbf1;
  
  }
  .menu a, #footend-copy {
    display: block;
    color: whitesmoke;
    border: 1px solid blueviolet;
    background:cornflowerblue;
    color:#3c4f76;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    line-height: 2em;
    padding: .5rem;
  }
 
    

.menu li:first-child {
 display:none;
}
.menu li {
 display: inline-block;
}
.menu a {
 border-radius: 0 0 0 0;
 border: none;
 padding: .8rem;
 font-size: 100%;
}

.container-numero {
 display: block;

}
.map {
display:inline-block;
width: 35%;
height: auto;
border-radius: 15px 15px 15px 15px;

}

.weatherbox {
position: absolute;
top: 85px;
left: 25px;
background-color:#accbe1;
padding: .7rem;
font-size: 1.2rem;
box-shadow: 0 0 30px #111;
opacity: .8;
}

.weatherbox p {
margin: 0;
padding: 0;
line-height: 1.3rem;
}




}
/* hover effect */


.container-gallery {
max-width: 1000px;
grid-template-columns: 1fr 1fr 1fr;
}
#header-gallery h2{
font-size: 50px;


}

figure {

font-size: 30px;

}

figure:hover {
box-shadow: 0 0 40px rgb(46, 45, 45);
border-radius: 0px;
}



