
/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 37.5em) {
    body{
      
            background-color:#536b78;
            
        
        }
      
    }


/* nav {
          
background: #fc2105; /* Old browsers */
/*background: -moz-linear-gradient(top,  #fc2105 0%, #8f0222 44%, #aa0000 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(top,  #fc2105 0%,#8f0222 44%,#aa0000 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to bottom,  #fc2105 0%,#8f0222 44%,#aa0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc2105', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */

      /*}*/

          /*.boxholder{
               color: ;
          }*/

         