* body, header, footer, main, h1, h2, nav {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'El Messiri', serif;
   text-align: center;
   font-size: 1.5vw;
}

main {
  max-width: 85%;
}

header, footer{
  background-color:skyblue;
  color:#383f51;
}

.heroimg {
  width:100%
}



.logo, .header-title-text {
  display: inline-block;
  vertical-align: middle;

}

.logo {
  width: 14%;
  background-color: #3c7899;
  border: 2px solid #5995ED;
  border-radius: 5px;
  box-shadow: 5px 5px 5px;
}

.header-title-text {
  margin-left: 20px;
}





nav, .menu {
  background:#ab9f9d;
  list-style: none;
  text-align: center;
  padding: 0;
}

.menu a, #footend-copy {
  display: block;
  color:#383f51;
  border: 1px solid black;
  background:#ab9f9d;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
  line-height: 2em;
  padding: .5rem;
}



.menu li:first-child {
  display: block;
}

.menu li {
  display: none;
}

.responsive li {
  display: block;
}


.menu a#active {
  background-color:#3c7899;
}

.menu a:hover {
  background:#3c7899;
}

#footend-copy a:link, #footend-copy a:visited {
  color:darkslateblue;
}








.title-header {
  color:#383f51;
  font-size: 25px;
  font-family: 'El Messiri', sans-serif;

  
}

.motto {
  font-style: normal;
  font-weight: 700;
  color: #383f51;
  font-size: 15px;
 
}

.menu a {
  font-size: 20px;
  
}

#title-town, .article-title {
  font-size: 25px;
  margin: 1.2em 0 .7em 0;
  font-weight: bold;
  
}

.img-overlay {
  color: #accbe1;
  font-size: 10px;
}



 .container-section h2 {
  font-size: 10px;
  text-align: center;
 
}

 h3 {
  font-size: 20px;
  text-align: left;
}

.contact address pre {
  font-size: 20px;
  text-align: left;
}

#footend-copy {
  font-size: 20px;
}

#title-town h1{
  color:#3c7899;
  font-size: 30px;
  margin-left: 20px;
}
.banner-GRANDE img {
  width: 100%;
  height: auto;
 
  border-radius: 5px 5px 5px 5px;
}

.weatherSummaryGrid {
  position: relative;
}

.img-overlay form{
  position: absolute;
  top: 8vw;
  left: 1.5vw;
  margin: 0 auto;
  padding: .75em;
  background-color: rgba(235, 43, 10, 0.6);
}

.img-overlay h3{
  margin:0 0 .8em auto;
  border-bottom: 1px solid #fff;
}

.img-overlay form label {
  float:left;
  width: 8em;
  margin-right: .8em;
  padding-bottom: .5em;
  text-align: right;
}

.img-overlay form input{
  width:4.5em;
  background-color: transparent;
  padding-bottom: .5em;
  padding-right: .25em;
  border:none;
  color:inherit;
}
.container-banner {
  position: relative;
 }





.container-numero {
  display: none;
  background-color: #3c4f76;
  margin: 2em 0 .7em 0;
  padding: .6em;
  
  border-radius: 5px 5px 5px 5px;
  color:#3c4f76;
  align-content: center;
}

.forecast table {
  margin: .5em auto;
  padding-top: .5em;
  background-color:#5995ED;
 
  border-radius: 5px 5px 5px 5px;

}

.forecast table th {
  font-size: 115%;
  color:goldenrod;
}

.forecast table td {
  padding: .8em;
  font-size: 25px;
  background-color:lightsteelblue;
  border: 2px solid #383f51;
}

.weatherbox {
  position: absolute;
  top: 25px;
  left: 25px;
  background-color:#accbe1;
  padding: .7rem;
  font-size: .9rem;
  box-shadow: 0 0 30px #111;
  opacity: .8;
}


.weatherSummaryGrid {
  display: grid;
  grid-template-columns: 1fr .5fr;
  grid-column-gap: 25px;
}

.weatherbox p {
  margin:0;
  padding: 0;
  line-height: 1.3rem;
}






article {
  position: relative;
  background-color:#d1beb0;
  margin: 2em 0 8vw 0;
  padding: .6em;

  border-radius: 5px 5px 5px 5px;
}

.article-title {
  text-align: left;
  margin: 0;
}

.article-sub {
  text-align: left;
  margin-left: .8em;
  margin-top: .25em;
}

article p.article-body {
  float: left;
  text-align: left;
  margin: 0 auto;
  padding-left: 1vw;
  width: 100%;
  height:auto;
  line-height: 1.8;
}
.pics{
  width: 100%;

}
article, .article-title{
  font-size: 20px;
}
article, .article-sub{
  font-size: 15px;
}
article, .article-body{
font-size: 18px;
}




/*FOOTER*/



.container-abajo {
  margin: 5em 0 1.7em 0;
  padding: 1em;
}

.contact address pre {
  width: 35vw;
  float:left;
}



.map{
  display: none;
}

 







/*----- Clearfix:  -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/* second code*/


main, #header{
  text-align: center;
  font-family: 'El Messiri', Arial, Helvetica, sans-serif ;
  font-size: 0.95em;
}


h1, #header-gallery{
  color:#3c7899;
    font-size: 30px;
    margin-left: 20px;
  
 

}

figure {
 
  font-size: 20px;
}

.container-gallery {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr ;
  text-align: center;
  

}

picture img[data-src] {
  filter: sepia(100%) blur(0.75em);
 
}

picture img {
  width: 100%;
  transition: filter 0.85s;
  border-radius: 5px;
}

/*----------- StormCenter--------------*/




 /*--thank you container--*/
 main-2{
  margin-left: 50%;
  max-width: 100%;
  height: auto;
  margin: 30px;
  background-color:#3c4f76;
}
.container form-2, h1{
  font-size: 20px;
}

/*--Home Page--*/
.cabeza {
  color:#3c7899;
    font-size: 30px;
    margin-left: 20px;
  
}

h2 {
font-family: 'El Messiri', serif;
 font-size: 2rem;
 text-align: center;
 margin: 0;
 color: #002050;
}

h4 {
 font-family: 'Domine', serif;
 word-wrap: break-word;
 font-size: 1rem;
 padding: 3px;
 margin: 0;
 color: black;
}
h

p {
 font-family: 'Domine', serif;
 padding: 3px;
 margin: 3px;
 font-size: 13px;
 color: black;
}

main {
 padding: 10px;
 margin: 0 auto;
 width: 100%;
 
}

.contenido section {
 display: grid;
 flex-wrap: wrap;
 margin: 10px;
 padding-bottom: 10px;
 background-color: #accbe1;
 max-width: 100%;
 padding: 10px;
 border-radius: 4px;
 
}

.contenido {
 display: grid;
 grid-gap: 3px;
 grid-template-columns: 100%;
 text-align: center;
 padding: 10px;
}

.contenido section img {
 width: 100%;
 height: auto;
}

article{
 margin: 0 auto ;
   max-width: 60%;
 }
 

 .numero-2 img{
   margin: auto;
   max-width: 100%;
   padding-right: 50px;
 
   
 }
 .numero-3 img{
   margin: auto;
   max-width: 100%;
   padding-right: 30px;
   
  }
  section .estilo{
   letter-spacing: 1px;
   line-height: 1.5;
   text-align: justify;
  }
  section .estilo9{
   letter-spacing: 1px;
   line-height: 1.5;
   text-align: justify;
  }
  .numero-3 h2{
   text-align: left;
   
  }