
body,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    font-size: 11pt;
    padding: 1em;
}

header {
    background-color: #dddbf1;
    width: 100%;

    
   
}

#logo {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#center1{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}

main {
    background-color: #d1beb0;
}

body {
    background-color: #accbe1;
    padding-top: 0;
    padding-bottom: 0;
}


section{
    background-color: #dddbf1;
    max-width: 860px;
    margin: 0 auto;
    font-size: 11pt;
    padding: 1em;
}
#number2{
    background-color:#7c98b3;
    max-width: 860px;
    margin: 0 auto;
    font-size: 11pt;
    padding: 1em;
    display:block;
}
#number3{
    background-color: #536b78;
    max-width: 860px;
    margin: 0 auto;
    font-size: 11pt;
    padding: 1em;
    
}



h1 {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 1em;
    padding: 1.5em;
    text-align: center;
    margin: 0;
    background-color: #d1beb0;
    color: #383f51;
    
}

h2,
h3,
h4,
h5 {
    font-family: 'El Messiri', sans-serif;
    color: #536b78;
}

p {
    font-family: 'Sarabun', sans-serif;
    line-height: 1.7rem;
}

a {
    color: #accbe1;
}

a:hover {
    color: #ab9f9d;
}

nav {
    background-color: #7c98b3;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #637081;
    text-align: center;
    padding: 0.95rem;
    text-decoration: none;
    font-size: 0.95rem;
    font-family: 'Sarabun', sans-serif;
}

nav a:hover {
    background-color:#3c4f76; 
    color: #ab9f9d;
}

img {
    max-width: 100%;
}

footer {
    background-color:#7c98b3 ;
    color: white;
    font-family: 'Sarabun', sans-serif;
    height: 50px;
    
    
}

footer a {
    color: white;
}
footer p a{
    color: ghostwhite;
    text-decoration: underline;
}
footer p a:hover{
    text-decoration: underline;
}
footer p a:active{
    text-decoration: underline;
}
footer p a:link{
    text-decoration: underline;
}
footer p a:visited{
    text-decoration: underline;
}